<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebLN Demo</title>
</head>

<body>

    <header>
        <nav>
            <a href="/"><img alt="Logo" src="/logo.png" height="70"></a>
        </nav>
        <h1>Your first lightning enabled web app ⚡️⚡️⚡️</h1>
        <p></p>
        <br>
        <p>
          <a href="#" id="unlock-button"><b>Unlock &rarr;</b></a>
        </p>
        <p id="preimage"></p>
        <p id="payment-hash"></p>
        <p id="payment-request"></p>
        <div id="success"></div>
    </header>
    <main
    </main>
    <footer>
    </footer>
</body>


<script>
  const invoice = '<%= invoice.request %>';
  document.getElementById('unlock-button').addEventListener('click', async (event) => {
    event.preventDefault();
    event.target.innerHTML = "loading...";

    if (window.webln) {
      await webln.enable();

      const payResponse = await webln.sendPayment(invoice);

      document.getElementById("preimage").innerHTML = payResponse.preimage;

      document.location = "/authenticated";

    } else {
      // Show QR code or similar
      alert("NO webln enabled");
    }
  });

</script>

</html>
