<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebLN Demo</title>
</head>

<body>

    <header>
        <nav>
            <a href="/"><img alt="Logo" src="/logo.png" height="70"></a>
        </nav>
        <h1>SUCCESS ⚡️⚡️⚡️</h1>
        <p></p>
        <br>
    </header>
    <main
    </main>
    <footer>
    </footer>
</body>


</html>
